.btn_subscribe{
  background-color: rgb(200, 0, 0);
  color:white;
  border: none;
  /* height: 35px;
  width: 105px; */
  border-radius: 2px;
  cursor: pointer;
  margin-right:8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: opacity 0.15s;
  vertical-align: top;

}
.btn_subscribe:hover{
  /* background-color:rgb(179, 58, 58) */
  opacity: 0.8;
}
.btn_subscribe:active{
  /* background-color: hsl(0, 0%, 20%); */
  opacity: 0.6;
}
.btn_join{
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style:solid;
  border-width: 1.5px;
  color: rgb(31, 107, 206);
  height:35px;
  width: 65px;
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor:pointer;
  transition: background-color 0.15s,
    color 0.15s;
  
}
.btn_join:hover{
  background-color: rgb(31, 107, 206);
  color: white;
}
.btn_join:active{
  opacity: 0.7;
}
.btn_tweet{
  background-color: rgb(29, 155, 240);
  color: white;
  height: 35px;
  width: 70px;
  border: none;
  border-radius: 17.5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: box-shadow 0.15s;
}
.btn_tweet:hover{
  box-shadow: 5px 5px 10px rgba(0 ,0, 0, 0.15);
}